.locationList {
  /* background: red;*/
  height: 85vh;
  overflow: auto;
  /* margin-bottom: 20px; */
}

@media (max-width: 60em) {
  .locationList {
    /*background: green;*/
    max-height: 40vh;
    /* overflow: auto; */
    margin-bottom: 20px;
  }
}

/* @media (max-width: 100em) {
  .locationList {
    background: green;
    height: 100vh;
    overflow: auto;
    margin-bottom: 20px;
  }
} */

.forecastTitle {
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
